.color_white{
  color: #ffffff;
}
.color_black{
  color: black;
}
.color_grey{
  color: grey;
}
.color_red{
  color: red;
}
.color_green{
  color: forestgreen;
}
.font-use {
  font-family: "Calibri Light";
}
.font-alert{
  font-size: 8pt
}