$mt-5: 5%;
$mt-10: 10%;
$mt-20: 20%;
$mt-30: 30%;
$mt-40: 40%;
$mt-50: 50%;
$mt-60: 60%;
$mt-70: 70%;
$mt-80: 80%;
$mt-90: 90%;
$mt-100: 100%;

.w-50 {
  width: 100%;
}

.w-100 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.h-100 {
  height: 100%;
}

.mt-10 {
  margin-top: $mt-10;
}
.mt-5-top {
  margin-top: 8%;
}
.mb-10 {
  margin-bottom: $mt-10;
}

.mt-20 {
  margin-top: $mt-20;
}

.mt-30 {
  margin-top: $mt-30;
}

.mt-40 {
  margin-top: $mt-40;
}

.mt-50 {
  margin-top: $mt-50;
}

.mt-60 {
  margin-top: $mt-60;
}

.mt-70 {
  margin-top: $mt-70;
}

.mt-80 {
  margin-top: $mt-80;
}

.mt-90 {
  margin-top: $mt-90;
}

.mt-100 {
  margin-top: $mt-100;
}


.pointer{
  cursor: pointer;
}