.frame-list-story{
  border-bottom: 1px solid grey; padding: 10px;
}

.label-category {
  padding: 5px; border-radius: 5px;  font-size: 8pt; background: orange;
}
.story-frame {
  border: 1px solid #27b300; border-radius: 5px; min-height: 250px ;
  background: white;
}
.icon-color {
  color: darkgrey;
}

.text-small {
  font-size: 11pt
}
.category-color {
  background: #ff9900
}

.label-size{
  font-size: 10pt
}
.bull-size {
  font-size: 15pt
}
.text-title-color{
  color: darkgreen;
}

.color-user-name{
  color: darkgrey;
}

.font-story{
  font-family: "Calibri Light";
}
.icon-sunting-color{
  color: #27b300;
}

.bg-color{
  background-color: #27b300
}
.button-bottom {
  border-radius: 0;
  font-size: 10pt;
}