<!--<div class="container">-->
    <div class="row justify-content-center" >
        <div class="col-8 mt-5 text-center">
            <input type="text" placeholder="Masukan kata kunci yang akan di cari" class="w-75 radius-input"
                   #keywordvalue (keydown.enter)="searchenter(keywordvalue.value)">
            <button class="text-uppercase btn-search ml-2 btn " type="button"
                    (click)="search(keywordvalue.value)"><i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <label class="text-uppercase font-weight-bold color-filter mr-2">Filter :</label>
            <label class="text-white">Category
                <select class="select-frame "
                        (change)="selectOption($event.target.value)">
                    <option value="all">Semua</option>
                    <option *ngFor="let data of category" value="{{data.id}}">{{data.category}}</option>
                </select>
            </label>
            <div *ngIf="showsearchalert === true">
                <div class="alert alert-danger" role="alert">
                    <h6 class="font-alert">Maaf ! hasil pencarian anda tidak ditemukan</h6>
                </div>
            </div>
            <div *ngIf="showbuttonsearchdalert === true">
                <div class="alert alert-danger" role="alert">
                    <h6 class="font-alert">Maaf ! keyword pencarian tidak boleh kosong</h6>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->