.radius-input {
  border-radius: 2px;
  height: 50px;
  padding-left: 10px;
  outline: none;
  border: none ;

}

.btn-search {
  height: 50px;
  border-radius: 2px;
  background: white;
  color: #27b300;
  font-size: 14pt;
}

.select-frame {
  border: none; background: none; outline: none;color: black;
}

.color-filter{
  color: white;
}