<div class="container">
    <div class="row">
        <div class="col-4 mt-2">
            <img [src]="imageSrc" class="w-50 edit-image-frame" #imgshow>
            <form [formGroup]="form" class="mt-1">
                <div class="form-group">
                    <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
                </div>
            </form>
        </div>
        <div class="col-8" *ngIf="showedituser === true">
            <div class="row">
                <div class="col-12">
                    <div class="col-12">
                        <label >Email</label>
                    </div>
                    <div class="col-12">
                        <input type="email" class="w-100 input-frame font-use" #email [value]="detailuser">
                    </div>
                    <div class="col-12">
                        <label>No Hp</label>
                    </div>
                    <div class="col-12">
                        <input type="number" class="w-100 input-frame font-use" #nohp [value]="no_hp">
                    </div>
                    <div class="col-12 mt-2">
                        <button class="btn btn-success" (click)="resetSandi()">Reset kata sandi<i
                                class="fa fa-angle-right ml-2"></i></button>
                    </div>
                    <div class="col-12 mt-2 text-center">
                        <button class="btn btn-success w-100" (click)="onSubmit()">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8" *ngIf="showresetpassword === true">
            <div class="row">
                <div class="col-12">
                    <label>Kata Sandi<span class="span-red">*</span></label>
                </div>
                <div class="col-12">
                    <input type="password" class="w-100 input-frame" #sandi>
                </div>
                <div class="col-12 text-center">
                    <label class="font-use waring-label-size">Minimal 8 karakter dengan 1 huruf kapital (A-Z) dan 1 angka
                        (0-9)</label>
                </div>
                <div class="col-12 ">
                    <label>Konfirmasi Kata Sandi<span class="span-red">*</span></label>
                </div>
                <div class="col-12">
                    <input type="password" class="w-100 input-frame" #sandivalidated>
                </div>
                <div class="col-12 text-center">
                    <label class="font-use waring-label-size">Minimal 8 karakter dengan 1 huruf kapital (A-Z) dan 1 angka
                        (0-9)</label>
                </div>
                <div class="col-6 mt-2 text-center">
                    <button class="btn btn-success w-100" (click)="cancelresetpassword()">
                        Cancel
                    </button>
                </div>
                <div class="col-6 mt-2  text-center">
                    <button class="btn btn-success w-100" (click)="savePassword(sandi.value , sandivalidated.value)">
                        Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
