<div class="container">
  <div class="row">
    <div class="col-4 mt-2">
      <img [src]="imageSrc" class="w-50 edit-image-frame" #imgshow>
      <form [formGroup]="form" class="mt-1">
        <div class="form-group">
          <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
        </div>
      </form>
    </div>
    <div class="col-8" *ngIf="showedituser === true">
      <div class="row">
        <div class="col-12">
          <div class="col-12">
            <label >Nama Usaha</label>
          </div>
          <div class="col-12">
            <input type="text" class="w-100 input-frame font-use" #namausaha [value]="detailpunyagawai">
          </div>
          <div class="col-12">
            <label>No Hp</label>
          </div>
          <div class="col-12">
            <input type="number" class="w-100 input-frame font-use" #nohp [value]="no_hp">
          </div>
          <div class="col-12">
            <label>Alamat</label>
          </div>
          <div class="col-12">
            <input type="text" class="w-100 input-frame font-use" #alamat [value]="alamatpunyagawai">
          </div>
          <div class="col-12 mt-2 text-center">
            <button class="btn btn-success w-100" (click)="onSubmit()">Simpan</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
