.preview-image-frame {
  border:  1px solid forestgreen;
}

.edit-image-frame{
  min-height: 200px;
  min-width: 200px;
  border-radius: 2%;
  border: 1px solid lightgrey;
}
.waring-label-size {
  font-size: 8pt;
  color: darkgrey;
}