<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-5">
      <h3>Tentang BisaGawai</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 text-justify mt-5">
      <p>BisaGawai adalah website memudahkan pemilik usaha untuk mencari calon pegawainya dengan mudah dan cepat , dan untuk pengguna yang memerlukan pekerjaan dapat mendaftar pada website ini dengan cepat karena website akan menampilkan lowongan kerja terdekat dengan anda</p>
    </div>
  </div>
  <div id="bot-container"> </div>
</div>
<div class="mt-10">
  <app-footer></app-footer>
</div>
