<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-4 mt-2">
          <img [src]="imageSrc || '../../../../assets/image/default/no_image.png'" class="w-50 edit-image-frame" #imgshow>
          <form [formGroup]="form" class="mt-1">
            <div class="form-group">
              <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
            </div>
          </form>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-12">
              <div class="col-12">
                <label >Nama Usaha</label>
              </div>
              <div class="col-12">
                <input type="text" class="w-100 input-frame font-use" #namaUsaha >
              </div>
              <div class="col-12">
                <label>No Telpon/Hp Usaha</label>
              </div>
              <div class="col-12">
                <input type="number" class="w-100 input-frame font-use" #nohpUsaha>
              </div>
              <div class="col-12">
                <label>Alamat Usaha</label>
              </div>
              <div class="col-12">
                <input type="text" class="w-100 input-frame font-use" #alamatUsaha >
              </div>
              <div class="col-12 mt-2 text-center">
                <button class="btn btn-success w-100" (click)="onSubmit(namaUsaha.value , nohpUsaha.value , alamatUsaha.value)">Simpan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>