<div class="container">
    <div class="row">
        <div class="col-12 frame-upload-jasa">
            <div class="row">
                <div class="col-12 mt-2">
                    <h5 class="font-use text-success">Lowongan Kerja Usaha</h5>
                    <hr>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 text-center mt-2">
                            <h5 class="font-use color_grey">Silahkan Upload Lowongan Kerja Usaha Anda</h5>
                        </div>
                        <div class="col-12">
                            <app-upload-lowngan></app-upload-lowngan>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>