<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-color-detail">
            <div class="row">
                <div class="col-4 mt-4 ml-5">
                    <h2 class="text-white">{{name_usaha}}</h2>
                    <label class="text-white"><i class="fa fa-map-marker"></i> {{address}}</label><br>
                    <label class="text-white"><i class="fa fa-phone"></i> {{no_tlp}}</label>
                </div>
                <div class="col-6 mt-5 text-right">
                    <label class="text-white"><i class="fa fa-dollar"></i> IDR {{payment}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 mt-5 border-frame">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-small font-story">{{deskripsi_lowongan}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6 mt-5 border-frame-skill">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 m-4">
                                    <label style="background-color: lightgrey; padding: 10px; border-radius: 3px; color: white" >setrika</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-10">
    <app-footer></app-footer>
</div>