.bg-color-detail {
  background-color: #27b300; height: 150px
}
.border-frame {
  border:  1px solid #27b300; height: 300px; border-radius: 3px
}
.border-frame-skill{
  border:  1px solid #27b300; min-height: 100px; border-radius: 3px
}