.frame-login {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.span-green{
  color: forestgreen;
}
.waring-label-size {
  font-size: 8pt;
  color: darkgrey;
}
.span-red{
  color: red;
}

.icon-grey{
  color: darkgrey
}

.frame-label-login {
  border-radius: 5px;
  border:  1px solid lightgrey;

 }

.color-info-login {
  color: dimgrey
}
.btn-login-bg{
  background-color: forestgreen;
  min-height: 50px;
}