<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <h3 class="mt-5">Mari bergabung bersama BisaGawai</h3>
                </div>
                <div class="col-12">
                    <p class="font-use">Dapatkan kemudahan dalam mencari pegawai kerja , dan mempermudah calon pegawai mendapatkan kerjaan yang diinginkan</p>
                </div>
                <div class="col-12">
                    <h3 class="mt-2">Pemilik Usaha</h3>
                </div>
                <div class="col-5 text-center frame-label-login">
                    <label class="p-2 text-success">Daftar akun BisaGawai</label>
                </div>
                <div class="col-1 mt-2 text-center">
                    <i class='fas icon-size icon-grey'>&#xf35a;</i>
                </div>
                <div class="col-5 text-center frame-label-login">
                    <label class="p-2 text-success">Daftarkan akun PunyaGawai</label>
                </div>
                <div class="col-5 text-center frame-label-login mt-2">
                    <label class="p-2 text-success">Daftarkan lowongan kerja</label>
                </div>
                <div class="col-1 mt-2 text-center">
                    <i class='fas icon-size icon-grey'>&#xf35a;</i>
                </div>
                <div class="col-5 text-center frame-label-login mt-2">
                    <label class="p-2 text-success">Sebarkan lowongan kerja </label>
                </div>
                <div class="col-12">
                    <h3 class="mt-4">Calon pekerja</h3>
                </div>
                <div class="col-5 text-center frame-label-login">
                    <label class="p-2 text-success">Daftar akun BisaGawai</label>
                </div>
                <div class="col-1 mt-2 text-center">
                    <i class='fas icon-size icon-grey'>&#xf35a;</i>
                </div>
                <div class="col-5 text-center frame-label-login">
                    <label class="p-2 text-success">Cari lowongan sesuai keahlian</label>
                </div>
            </div>
        </div>
        <div class="col-5 mt-5 frame-login">
            <div class="row">
                <div class="col-12 mt-3 text-center">
                    <h5 class="font-use text-success">Silahkan masuk account BisaGawai anda</h5>
                </div>
                <div class="col-12 mt-4">
                    <label>Email<span class="span-red">*</span></label>
                </div>
                <div class="col-12">
                    <input type="email" class="w-100 input-frame" #email (change)="validateEmailUser(email.value)">
                    <div *ngIf="show === true">
                        <div class="alert alert-danger" role="alert">
                            <h6 class="font-alert">Maaf ! email yang anda masukan tidak valid</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <label>Kata Sandi<span class="span-red">*</span></label>
                </div>
                <div class="col-12">
                    <input type="password" class="w-100 input-frame" #sandi (keydown.enter)="loginenter(email.value , sandi.value)">
                </div>
                <div class="col-12 text-center">
                    <h6 class="waring-label-size">Minimal 8 karakter dengan 1 huruf kapital (A-Z) dan 1 angka (0-9)</h6>
                    <div *ngIf="showpasswordalert === true">
                        <div class="alert alert-danger" role="alert">
                            <h6 class="font-alert">Maaf ! email atau password tidak sama</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3 text-center">
                    <button type="button" class="btn btn-success text-uppercase w-100 btn-login-bg" (click)="login(email.value , sandi.value)" >Masuk</button>
                </div>
                <div class="col-12 mt-5 mb-3 text-center">
                    <h6 class="color-info-login">Belum Punya Akun BisaGawai? <span class="span-green pointer" routerLink="/register" >Daftar</span><span class="ml-2">di sini</span></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-10">
    <app-footer></app-footer>
</div>