<!--<app-navbar></app-navbar>-->
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h5 class="mt-5">Selamat Datang di BagiBagi</h5>
      <label>Silahkan Membagi cerita anda</label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <div *ngIf="showstoryuploadalert === true">
      <div class="alert alert-success text-center" role="alert">
        <h6 class="font-alert">Anda berhasil membuat dan membagi kisah anda</h6>
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>Kategory<span class="color_red">*</span>
        <select class="ml-2" #option>
          <option *ngFor="let data of category" value="{{data.id}}">{{data.category}}</option>
        </select>
      </label>
    </div>
    <div class="col-12">
      <label>Status<span class="color_red">*</span></label>
        <label class="checkbox-inline mr-2" *ngFor="let data of status">
          <input type="radio" value="{{data.id}}" class="ml-2" (change)="getvalueRadio($event)">{{data.status}}
        </label>
      <div *ngIf="showstatusalert === true">
        <div class="alert alert-danger w-50" role="alert">
          <h6 class="font-alert">Maaf ! status tipe harus di pilih </h6>
        </div>
      </div>
    </div>
    <div class="col-12">
      <form  [formGroup]="form" >
        <div class="form-group">
          <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
        </div>
      </form>
    </div>
    <div class="col-12">
      <img  [src]="imageSrc || '../../../../assets/image/default/no_preview.png'" alt="Image preview..." class="w-25 preview-image-frame" #imgshow>
    </div>
    <div class="col-12">
      <label>Cerita<span class="color_red">*</span></label>
    </div>
    <div class="col-12">
      <textarea class="w-50 height-text-area input-frame" #story></textarea>
      <div *ngIf="showstoryalert === true">
        <div class="alert alert-danger w-50" role="alert">
          <h6 class="font-alert">Maaf ! textarea ini harus diisi </h6>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-dark w-50" (click)="save(option.value , story.value)">Simpan</button>
    </div>
  </div>
</div>