<ul class="navbar-nav">
    <li class="dropdown">
        <img [src]="imageuser" height="45 " width="45" (click)="dropdownuser()" title="{{emaillogged}}" class="bg-profile">
        <label class="font-use ml-3">{{emaillogged}}</label>
        <div *ngIf="show == true">
            <div class="dropdown-content pointer" (mouseleave)="mouseOverdrop()">
                <div class="col-12 bg-profile-dropdown" routerLink="/dashboard_user">
                    <div class="row">
                        <div class="col-2 mt-2">
                            <img [src]="imageuser" height="50" width="50">
                        </div>
                        <div class="col-7 ">
                            <div class="col-12 mt-2 text-left">
                                <label class="text-white"><strong>{{emailsplit}}</strong></label>
                            </div>
                            <div class="col-12">
                                <label class="text-white">{{emaillogged}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1 list-profile">
                    <a (click)="logout()"><i class='fas mr-4 icon-size'>&#xf011;</i>Keluar</a>
                </div>
            </div>
        </div>
    </li>
</ul>