.border-white {
  border: 1px solid white ; border-radius: 5px
}

.dropbtn {
  background: dimgrey;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: -5px;

  & a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

}

img{
  border-radius: 50%;
}

.list-profile{
  &:hover{
    background: lightgrey;
  }
}

.bg-profile{
  border: 1px solid lightgrey;
}

.bg-profile-dropdown{
  background: #27b300 ; height: 75px
}

.icon-size{
  font-size:24px;
  outline:none;
  border: none;
}