.frame-login {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.span-red{
    color: red;
}

.span-green{
    color: #27b300;
}

.waring-label-size {
    font-size: 8pt;
    color: darkgrey;
}
.icon-grey{
    color: darkgrey
}

.frame-label-login {
    border-radius: 5px;
    border:  1px solid lightgrey;
}

.color-info-register {
    color: dimgrey
}

.btn-signup-bg{
    background-color: forestgreen;
    min-height: 50px;
}