<div class="container">
  <div class="row">
    <div class="col-12 frame-setting-account">
      <div class="row">
        <div class="col-12 mt-2">
          <h5 class="font-use text-success">Edit akun BagiBagi</h5>
          <hr>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 text-center mt-2">
              <h5 class="font-use color_grey">Silahkan edit profile akun anda</h5>
            </div>
            <div class="col-12">
              <app-edit-user></app-edit-user>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>