<div class="container">
  <div class="row">
    <div class="col-12 frame-create-account">
      <div class="row">
        <div class="col-12 mt-2">
          <h5 class="font-use text-success">Buat Akun Jasa</h5>
          <hr>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 text-center mt-2">
              <h6 class="font-use color_grey">Silahkan daftarkan akun jasa anda</h6>
            </div>
          </div>
        </div>
        <div class="col-12">
          <app-createaccount-punyagawai></app-createaccount-punyagawai>
        </div>
      </div>
    </div>
  </div>
</div>