<div class="container-fluid">
  <div class="row">
    <div class="footer">
      <div class="col-12">
        <div class="row">
          <div class="col-5 mt-5 mb-5">
            <h1 class="text-white">BisaGawai</h1>
            <label>Website ini memudahkan pemilik usaha untuk mencari calon pegawai yang tepat dengan cepat , dan memudahkan calon pegawai mendapatkan kerjaan yang diperlukan</label>
          </div>
          <div class="col-3 mt-5">
            <div class="row">
              <div class="col-12">
                <label routerLink="/home" class="pointer outline-none">Beranda</label>
              </div>
              <div class="col-12">
                <label routerLink="/about" class="pointer outline-none">Tentang BisaGawai</label>
              </div>
            </div>
          </div>
          <div class="col-3 mt-5">
            <div class="row">
              <div class="col-12">
                <label class="pointer outline-none">Bantuan</label>
              </div>
              <div class="col-12">
                <label routerLink="/how_share" class="pointer outline-none">Cara BisaGawai</label>
              </div>
              <div class="col-12">
                <label routerLink="/contact" class="pointer outline-none">Kotak Kami</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>