<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div *ngIf="showstoryuploadalert === true">
        <div class="alert alert-success text-center" role="alert">
          <h6 class="font-alert">Anda berhasil membuat lowongan kerja usaha</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>Kategory Lowongan<span class="color_red">*</span>
        <select class="ml-2" #option>
          <option *ngFor="let data of category" value="{{data.id}}">{{data.category}}</option>
        </select>
      </label>
    </div>
    <div class="col-12">
      <label>Status Lowongan<span class="color_red">*</span></label>
      <label class="checkbox-inline mr-2" *ngFor="let data of status">
        <input type="radio" value="{{data.id}}" class="ml-2" (change)="getvalueRadio($event)">{{data.status}}
      </label>
      <div *ngIf="showstatusalert === true">
        <div class="alert alert-danger w-100" role="alert">
          <h6 class="font-alert">Maaf ! status tipe harus di pilih </h6>
        </div>
      </div>
    </div>
    <div class="col-12">
      <form  [formGroup]="form" >
        <div class="form-group">
          <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
        </div>
      </form>
    </div>
    <div class="col-12">
      <img  [src]="imageSrc || '../../../../assets/image/default/no_preview.png'" alt="Image preview..." class="w-25 preview-image-frame" #imgshow>
    </div>
    <div class="col-12">
      <label>Deskripsi Lowongan<span class="color_red">*</span></label>
    </div>
    <div class="col-12">
      <textarea class="w-100 height-text-area input-frame" #lowongan></textarea>
      <div *ngIf="showstoryalert === true">
        <div class="alert alert-danger w-100" role="alert">
          <h6 class="font-alert">Maaf ! textarea ini harus diisi </h6>
        </div>
      </div>
    </div>
    <div class="col-12">
      <label>Bayaran</label>
    </div>
    <div class="col-12">
      <input type="number" class="w-100 input-frame font-use" #bayaran>
    </div>
    <div class="col-12 mt-2 mb-3">
      <button class="btn btn-success w-100" (click)="save(option.value , lowongan.value , bayaran.value)">Simpan</button>
    </div>
  </div>
</div>