<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <h3 class="mt-5">Kontak BisaGawai</h3>
                </div>
                <div class="col-12">
                    <p>
                        Jangan ragu untuk bertanya kepada kami. Kami senang dapat membantu kamu menemukan solusi yang
                        kamu
                        butuhkan. Isi data di bawah ini dan kami akan kembali dengan jawaban maksimal 2 hari kerja.</p>
                </div>
            </div>
        </div>
        <div class="col-5 mt-5 frame-bg">
            <div class="row">
                <div class="col-12 mt-3 text-center">
                    <h5 class="font-use text-success">Silahkan kirim masukan kepada kami</h5>
                </div>
                <div class="col-12 mt-4">
                    <label>Email<span class="span-red">*</span></label>
                </div>
                <div class="col-12">
                    <input type="email" class="w-100 input-frame" #email (change)="validateEmailUser(email.value)">
                    <div *ngIf="show === true">
                        <div class="alert alert-danger" role="alert">
                            <h6 class="font-alert">Maaf ! email yang anda masukan tidak valid</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label>No Hp<span class="color_red">*</span></label>
                </div>
                <div class="col-12">
                    <input type="number" class="w-100 input-frame" #nohp>
                </div>

                <div class="col-12 mt-2">
                    <label>Tulis Pesan<span class="color_red">*</span> </label>
                </div>
                <div class="col-12 mt-2">
                    <textarea class="input-frame w-100 textarea-frame" #text></textarea>
                    <div *ngIf="showstoryalert === true">
                        <div class="alert alert-danger w-100" role="alert">
                            <h6 class="font-alert">Maaf ! textarea ini harus diisi </h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3 text-center mb-4">
                    <button type="button" class="btn btn-success text-uppercase w-100 btn-login-bg"
                            (click)="sendComplaint(email.value , nohp.value , text.value)">Kirim
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-10">
    <app-footer></app-footer>
</div>