<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-5">
      <h3>Cara Mengakses BisaGawai</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 text-justify mt-2">
      <p>Anda harus memiliki akun BisaGawai terlebih dahulu, bagi <strong>pemilik usaha</strong> anda harus mendaftarkan akun PunyaGawai , masukan penjelasan lengkap lowongan kerja anda , dan dapatkan calon pegawai anda , bagi pengguna <strong>calon pegawai</strong> daftar akun pada BisaGawai dan temukan kerjaan yang diingkan</p>
    </div>
    <div class="col-12 text-center">
      <button class="btn btn-success w-25" routerLink="/register">Daftar</button>
    </div>
  </div>
</div>
<div class="mt-10">
  <app-footer></app-footer>
</div>