<nav class="navbar navbar-expand-lg navbar-dark nav-bg-user">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link pointer text-white" (click)="mystoryUser()">Cerita ku <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer text-white" (click)="createstoryUser()" >Buat Cerita <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer text-white" (click)="settingAkun()">Setting akun<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
