.frame-list-story{
  border-bottom: 1px solid grey; padding: 10px
}

.label-category {
  background-color: #e63900; padding: 5px; border-radius: 5px; color: white; font-size: 8pt
}
.story-frame {
  border: 0.5px solid #27b300; border-radius: 5px; height: auto;
  background: white;
}
.icon-color {
  color: #27b300;
}

.text-small {
  font-size: 11pt
}
.category-color {
  background: #ff9900
}

.label-size{
  font-size: 10pt
}
.bull-size {
  font-size: 15pt
}
.text-title-color{
  color: darkgreen;
}

.color-user-name{
  color: darkgrey;
}

.font-story{
  font-family: "Calibri Light";
}
.icon-sunting-color{
  color: #27b300;
}

.btn-color-white{
  background: white;
  color: #27b300;
}

.radius-input {
  border-radius: 5px;
  height: 50px;
  padding-left: 10px;
  border: none;
}

.btn-search {
  height: 50px;
  border-radius: 5px;
  outline: none;
  background: darkgreen;
  color: white;
}

.select-frame {
  border: none; background: none; outline: none
}

.color-filter{
  color: darkgreen;
}

.btn-info-next{
  background: darkgreen;
}
.frame-label-home {
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}