<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="background: #27b300; min-height: 400px">
            <div class="row">
                <div class="col-5 mt-5 text-white ml-5">
                    <h1>BisaGawai</h1>
                </div>
                <div class="col-7 text-white ml-5">
                    <div class="row">
                        <div class="col-10">
                            <h4 class="font-use">Memberi kemudahan pemilik usaha untuk menemukan pegawai dan mempermudah
                                calon pegawai mencari kerja yang dikuasai</h4>
                        </div>
                    </div>
                </div>
                <div class="col-7 ml-5 mt-2">
                    <button class="btn w-25 btn-info-next text-white">Pelajari Lebih Lanjut</button>
                </div>
                <div class="col-12 text-white text-center mt-5">
                    <h5 class="font-use">Silahkan mencari kerjaan yang diperlukan</h5>
                </div>
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <input type="text" placeholder="Masukan kata kunci yang akan di cari"
                                   class="w-100 radius-input"
                                   #keywordvalue (keydown.enter)="searchenterhome(keywordvalue.value)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-10">
    <app-footer></app-footer>
</div>
