<!--<app-navbar></app-navbar>-->
<div class="container">
  <div class="row">
    <div class="col-12 text-left mt-2">
      <h3 class="text-title-color">Cerita Ku</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mt-1">
      <div *ngFor="let data of mystory" class="col-12 text-justify mb-2 mt-2 story-frame">
        <div class="w-100 row mb-2">
          <div class="col-4 mt-1">
            <h5>{{data.email}}</h5>
          </div>
          <div class="col-1 mt-1">
            <label class="label-category">{{data.category}}</label>
          </div>
          <div class="col-1 mt-1 ml-1">
            <label class="label-category category-color">{{data.status}}</label>
          </div>
          <div class="col-5 text-right mt-1">
            <i class="material-icons pointer icon-sunting-color" title="sunting">&#xe22b;</i>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-3 mt-1">
                <h5 class="label-size color-user-name">{{data.email}}</h5>
              </div>
              <div class="col-4">
                <label class="label-size" ><i  class="fa icon-size mr-2">&#xf073;</i>{{data.date_convert}}</label>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p class="text-small font-story">{{data.story}}</p>
          </div>
          <div class="col-12" *ngIf="data.image !== null">
            <img  [src]="'http://localhost:8080/' + data.image" alt="Image preview..." class="w-100 preview-image-frame" #imgshow>
          </div>
          <div *ngIf="data.status =='Public'; else notpublic" class="col-12 mt-3">
            <div class="row">
              <div class="col-4 text-center">
                <i class="material-icons pointer icon-color" title="Suka">&#xe8dc;</i>
              </div>
              <div class="col-4 text-center">
                <i class="material-icons pointer icon-color" title="Komentar">&#xe8cd;</i>
              </div>
              <div class="col-4 text-center">
                <i class="material-icons pointer icon-color" title="Bagikan">&#xe163;</i>
              </div>
            </div>
          </div>
          <ng-template #notpublic>
            <div class="col-12 text-center">
              <i class="material-icons pointer icon-color" title="Suka">&#xe8dc;</i>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
