<nav class="navbar navbar-expand-lg navbar-dark nav-background">
  <label class="navbar-brand text-uppercase text-success pointer label-title" routerLink="/home">BisaGawai</label>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link pointer text-success" (click)="home()">Beranda <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link pointer text-success" (click)="gawai()">Gawai <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer text-success" (click)="about();">Tentang Bagi-Bagi <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link pointer text-success" (mouseover)="help()" >Bantuan<i class="fa fa-angle-down ml-2"></i> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav" *ngIf="logged; else  notlogged">
      <li class="nav-item">
        <a class="nav-link pointer text-uppercase text-success" routerLink="/login">Masuk <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item border-white ml-2" >
        <a class="nav-link pointer text-uppercase text-success" routerLink="/register">Daftar <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ng-template #notlogged>
      <app-profile-user></app-profile-user>
    </ng-template>
  </div>
</nav>
<div *ngIf="trigerexpand == true" (mouseleave)="help()">
  <app-expand-help></app-expand-help>
</div>