<nav class="navbar navbar-expand-lg backgroung-expand">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link pointer text-white" routerLink="/how_share">Cara BagiBagi<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link pointer text-white" routerLink="/contact">Kontak Kami<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>