.frame-dashboard {
  min-height: 100vh;
  border:  1px solid lightgrey;
  border-radius: 5px;
}

img{
  border-radius: 10%;
}
.bg-profile{
  border: 2px solid white
}
.font-address{
  font-size: 10pt;
}