<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-3 mt-5">
            <div class="row">
                <div class="col-12 frame-dashboard">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3 mt-2">
                                    <img [src]="imageuser" height="60" width="60" class="bg-profile">
                                </div>
                                <div class="col-9 mt-3 text-center">
                                    <h6 class="font-use"><strong>{{emaillogged}}</strong></h6>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div *ngIf="useraccountService === true">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3 mt-2">
                                        <img [src]="imageaccountuserservice" height="60" width="60" class="bg-profile">
                                    </div>
                                    <div class="col-9 mt-3 text-center">
                                        <h6 class="font-use"><strong>{{nameaccountuserservice}}</strong></h6>
                                        <h6 class="font-use font-address">{{addressUsaha}}</h6>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-10"><label><strong>Profile Saya</strong></label></div>
                                        <div class="col-2 mt-2 pointer" (click)="trigerprofilesaya()"><i
                                                class='fas icon-size'>&#xf107;</i></div>
                                    </div>
                                </div>
                                <div class="col-12" *ngIf="showprofilesaya === true">
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="font-use text-success pointer"
                                                   (click)="routerriwayat()">Riwayat</label>
                                        </div>
                                        <div class="col-12">
                                            <label class="font-use text-success pointer"
                                                   (click)="routersettingprofile()">setting profile</label>
                                        </div>
                                        <div class="col-12" *ngIf="buatPunyaGawai === true">
                                            <label class="font-use text-success pointer"
                                                   (click)="routerbuatPunyaGawai()">Buat akun PunyaGawai</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-10"><label><strong>PunyaGawai Saya</strong></label></div>
                                        <div class="col-2 mt-2 pointer" (click)="trigerpunyagawai()"><i
                                                class='fas icon-size'>&#xf107;</i></div>
                                    </div>
                                </div>
                                <div class="col-12" *ngIf="showpunyagawai === true">
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="font-use text-success pointer"
                                                   (click)="routerriwayapostingan()">Riwayat Lowongan</label>
                                        </div>
                                        <div class="col-12">
                                            <label class="font-use text-success pointer"
                                                   (click)="routersettingpunyagawai()">setting PunyaGawai</label>
                                        </div>
                                        <div class="col-12">
                                            <label class="font-use text-success pointer"
                                                   (click)="routerpostinglowongan()">Posting Lowongan</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 mt-5" *ngIf="historyaccountuser === true">
            <app-history-account></app-history-account>
        </div>
        <div class="col-9 mt-5" *ngIf="SettingAccountUser === true">
            <app-settingaccount-user></app-settingaccount-user>
        </div>
        <div class="col-9 mt-5" *ngIf="UserUploadLowongan === true">
            <app-user-upload-lowongan></app-user-upload-lowongan>
        </div>
        <div class="col-9 mt-5" *ngIf="historypunyagawai === true">
            <app-history-punyagawai></app-history-punyagawai>
        </div>
        <div class="col-9 mt-5" *ngIf="settingaccountPunyaGawai === true">
            <app-settingaccount-punyagawai></app-settingaccount-punyagawai>
        </div>
    </div>
</div>
<div class="mt-10">
    <app-footer></app-footer>
</div>