<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 m-4 story-frame" *ngFor="let data of alllowongan">
            <div class="row mt-2">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 text-right">
                            <label class="label-size color_grey"><i class="fa icon-size mr-2">&#xf073;</i>{{data.date_convert}}</label>
                        </div>
                        <div class="col-8 text-left">
                            <h5 class="color_grey">{{data.nama_jasa}}</h5>
                            <label class="color_grey label-size"> <i class="fa fa-map-marker"></i>
                                {{data.alamat}}</label>
                            <label class="label-size color_grey ml-5"><i class="fa fa-phone"></i>
                                {{data.no_hp_jasa}}</label>
                        </div>
                        <div class="col-4 text-right">
                            <label class="color_grey"><i class="fa fa-dollar"></i> IDR {{data.bayaran}}</label>
                            <label class="color_white label-category ml-5">{{data.category}}</label>
                        </div>
                        <div class="col-12">
                            <p class="text-small font-story">{{data.deskripsi_lowongan}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="position: absolute; bottom: 0">
                    <div class="row">
                        <div class="col-12 text-center pl-0 pr-0">
                            <button class="w-100 btn-success btn button-bottom">Manage</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
