<div class="container">
  <div class="row">
    <div class="col-12 frame-history-account">
      <div class="row">
        <div class="col-12 mt-2">
          <h5 class="font-use text-success">Riwayat Lowongan</h5>
          <hr>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <app-riwayat-punyagawai></app-riwayat-punyagawai>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>